.header_main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  .container {
    height: rem(180px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top_contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 1;
    width: 50%;
  }
  .btn {
    width: 100%;
    max-width: rem(197px);
  }
}

.phone_contact {
  font-size: rem(30px);
  margin-right: rem(55px);
  color: #fff;
  display: block;
}

.logo {
  font-weight: 700;
  font-size: rem(30px);
  color: #fff;
  position: relative;
  line-height: 1.2;
  &::before {
    @include before_fig(60%, rem(2px), #fff);
    right: 0;
    bottom: rem(-4px);
  }
}