$one-rem: 16px;

$url-path: "../../";

$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$mainGradient: linear-gradient(-225deg, #564153 0%, #4a3447 99%, #4a3447 100%);
$mainColorText: #4c3649;
$mainColor: #704b5b;
$iconColor: #4d3749;
$submitColor: #fec883;
/*fonts*/

$mainFont: "Montserrat", sans-serif;

